/*common css start*/
:root{
    --dark: #1a2022;
}
* {
    padding: 0;
    margin: 0;
}

button,
a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    text-decoration: none;
}

ul li {
    list-style: none;
}

p {
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

body {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: var(--dark) !important;
    background-attachment: fixed !important;
    background-position: center center !important;
    background-size: cover !important;
}

.section-title-outer {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

.section-title-outer .section-subtitle {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}

.section-title-outer .section-title {
    font-size: 40px;
    color: #ffff;
    margin-bottom: 10px;
    word-spacing: 2px;
    position: relative;
    padding-bottom: 10px;
}
/*common css End*/

/*Side bar css start*/
.main-wrapper {
    position: relative;
}

.side-bar-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 150px;
    background: #28353d;
    height: 100vh;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*small btn css*/
.nav-toggle-btn .btn-inner {
    width: 35px;
    border-bottom: 1px solid #fff;
    position: relative;
    transition: all .4s ease;
}

.nav-toggle-btn {
    height: 45px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.nav-toggle-btn .btn-inner:before {
    content: "";
    height: 1px;
    width: 35px;
    position: absolute;
    background: #fff;
    top: -8px;
}

.nav-toggle-btn .btn-inner:after {
    content: "";
    height: 1px;
    width: 35px;
    position: absolute;
    background: #fff;
    top: 8px;
}
.nav-list {
    position: fixed;
    width: 0%;
    height: 100%;
    overflow: hidden;
    left: 150px;
    top: 0;
    z-index: 999;
    box-shadow: 3px 0 5px -2px rgb(0 0 0 / 0.5);
    padding: 0;
    margin-bottom: 0;
    background: #20263517;
    backdrop-filter: blur(10px);
    transition: all .5s ease;
}

.nav-list.menu-visible {
    width: 40%;
    padding: 30px;
}

.nav-item-link {
    display: inline-block;
    padding: 0 10px;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
}

.nav-item {
    margin-bottom: 20px;
}

.brand-logo-outer {
    display: inline-block;
}

.share-btn-outer {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    color: #fff;
    background-color: #506dd4;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 2px #ffffff;
    cursor: pointer;
    transition: 0.3s ease;
    /* transform: rotate(45deg); */
}

.share-btn-outer:after {
    position: absolute;
    left: 50%;
    top: 50%;
    content: "";
    height: 65px;
    width: 65px;
    background: #fff;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
    margin-top: -4%;
    z-index: -1;
}

.author-social-icon-wrap {
    position: relative;
    padding-bottom: 10px;
}

.share-icon {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    transform: translateX(0) rotate(180deg);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background: var(--dark);
    color: var(--white) !important;
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 1;
}

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0)
      scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0)
      scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.share-icon.show:nth-child(3) {
    transform: translateY(-70px) rotate(0);
}

.share-icon.show:nth-child(2) {
    transform: translateY(-125px) rotate(0);
}

.share-icon.show:nth-child(4) {
    transform: translateY(-180px) rotate(0);
}

.share-icon i {
    color: #fff;
}
/*Side bar css End*/

/*Home section css start*/
.main-content-wrapper {
    width: calc( 100% - 150px );
    margin-left: 150px;
}

.home-section {
    height: 100%;
    min-height: 100vh;
    padding-top: 100px;
    /* overflow-x: hidden; */
}

.home-sec-content-title {
    font-size: 80px;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
    margin-bottom: 30px;
}

.home-sec-content-title img {
    width: 65px;
    height: 65px;
    margin: 0 -10px;
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
.home-sec-content-text {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.home-sec-content-btn {
    display: inline-block;
    background: linear-gradient( 90deg, #506dd4, #506dd4, #eed80b );
    font-weight: 500;
    padding: 10px 40px;
    font-size: 20px;
    position: relative;
    color: white;
}

.home-sec-content-btn:after {
    position: absolute;
    right: -7px;
    bottom: -7px;
    content: "";
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    transition: all 0.25s ease-in-out;
    z-index: -1;
}

.profile-grid-outer {
    margin-top: 40px;
}

.profile-grid-list-item:last-child .profile-grid-list-item-link {
    margin-right: 0;
}

.profile-grid-list-item-link:hover {
    color: #fff;
}

.home-sec-content-btn:hover {
    color: #fff;
}

.profile-grid-list {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
}

.profile-grid-list-item-link {
    color: #fff;
    box-shadow: 0px 10px 51px rgba(0, 0, 0, 0.5);
    border: 1px dashed rgba(255, 255, 255, 0.2);
    margin-right: 10px;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 20px;
    /* position: relative; */
    z-index: 1;
    overflow: hidden;
}

.home-sec-image-outer {
    padding: 40px;
    border-radius: 10px;
    padding-bottom: 0;
    position: relative;
    z-index: 1;
    padding-top: 0;
}

.home-sec-image-outer:before {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    height: 450px;
    width: 450px;
    background-color: #506dd4;
    box-shadow: 0px 10px 51px rgba(0, 0, 0, 0.5);
    z-index: -1;
    border-radius: 74px;
    opacity: 0.5;
    background-image: none;
}

.home-sec-image-outer:after {
    position: absolute;
    left: 50%;
    top: 50%;
    content: "";
    transform: translate(-50%, -50%) rotate(359deg);
    background-image: url(../images/1.png);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    margin: 0;
    /* margin-top: 11%; */
}
/*Home section css End*/

/*  Service section css start */
.service-section {
    padding: 50px 0;
}

.section-sub-title {
    display: inline-block;
    background: linear-gradient(90deg, #506dd4 20%, #eed80b 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.section-title-outer .section-title:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

.service-item-outer {
    background: linear-gradient( 108.44deg, rgba(255, 255, 255, 0.1) 20.99%, rgba(255, 255, 255, 0.025) 84.05% );
    display: flex;
    box-shadow: none;
    align-items: center;
    padding: 40px;
    box-shadow: 0px 10px 51px rgba(0, 0, 0, 0.07);
    margin-bottom: 20px;
}

.service-item-image-outer img {
    max-width: 100px;
}

.service-item-image-outer {
    margin-right: 15px;
}

.service-item-info-title {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 3px;
}

.service-item-info-title:hover {
    color: #f16522;
}

.service-item-info-subtitle {
    font-size: 16px;
    color: #c9c7c7;
    margin-bottom: 0;
    font-weight: 400;
}

.service-items-wrapper {
    margin-bottom: 50px;
}

.technology-item-outer {
    background: linear-gradient( 108.44deg, rgba(255, 255, 255, 0.1) 20.99%, rgba(255, 255, 255, 0.025) 84.05% );
    padding: 20px;
    box-shadow: 0px 10px 51px rgba(0, 0, 0, 0.07);
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
}

.technology-item-outer img {
    max-width: 200px;
}

.technology-item-title {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 15px;
}

.technology-item-link {
    display: inline-block;
    background: transparent;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
}

.technology-item-link:after {
    position: absolute;
    top: 0;
    right: inherit;
    bottom: inherit;
    left: 0;
    content: "";
    height: 100%;
    width: 0;
    z-index: -1;
    background-color: #f16522;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.technology-item-link:hover::after {
    width: 100%;
}

.technology-item-link:hover {
    color: #fff;
}
/*  Service section css End */

/* About section css start */
.about-image-wrap {
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: none;
    position: sticky;
    top: 120px;
    border-radius: 270px;
    padding: 30px;
}

.about-img {
    border-radius: 270px;
}

.about-section {
    padding: 60px 0;
}

.about-image-wrap .curve-text {
    position: absolute;
    right: -70px;
    top: 15%;
    display: inline-block;
}

.about-image-wrap .curve-text svg {
    background: #1a2022;
    border-radius: 50%;
    padding: 35px;
    position: relative;
    z-index: 1;
    font-size: 25px;
    height: 180px;
    width: 180px;
    text-transform: uppercase;
    font-weight: 500;
    fill: #fff;
    overflow: inherit;
    animation: spinner 10s infinite linear;
    text-shadow: 1px 1px #000000;
}

.about-image-wrap .curve-text svg path {
    fill: none;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

.about-image-wrap .curve-text h4 {
    position: absolute;
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    font-size: 51px;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    letter-spacing: 3px;
}

.about-info-wrap {
    margin-top: 50px;
    margin-left: 100px;
}

.about-info-wrap .section-title-outer {
    text-align: start;
}

.about-info-wrap .section-title:after {
    display: none;
}

.about-info-wrap .section-title {
    margin-bottom: 25px;
    font-size: 50px;
}

.about-info-wrap .section-text {
    font-size: 14px;
    line-height: 28px;
    color: #fff;
    font-weight: 400;
}

.about-item-outer {
    background-color: rgb(255 255 255);
    padding: 50px;
    margin-top: 40px;
    border-radius: 10px;
    /* background: #ddd; */
}

.about-item-title {
    display: inline-block;
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 30px;
    margin-bottom: 25px;
    position: relative;
    z-index: 1;
    color: #fff;
    padding-right: 50px;
}

.about-item-title:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    height: 100%;
    width: 100%;
    background: url(../images/3.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.biography-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding-left: 0;
    margin-bottom: 0;
}

.biography-list-item-title {
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.biography-list-item-value {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 300;
    color: #000;
}

.skill-list {
    padding-left: 0;
    margin-bottom: 0;
}

.skill-list-item {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.skill-list-item-icon i {
    display: inline-block;
    font-size: 30px;
    color: #000;
    text-align: center;
    height: 70px;
    width: 70px;
    line-height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

.skill-list-item-content-value {
    display: block;
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #000;
}

.skill-list-item-content-title {
    font-size: 16px;
    color: #606060;
    margin-bottom: 0;
}

.education-list {
    border-left: 1px solid #506dd4;
    padding-left: 0;
    margin-bottom: 0;
}

.education-list-item {
    padding-left: 30px;
    margin-top: 8px;
    position: relative;
    z-index: 1;
}

.education-list-item:after {
    position: absolute;
    left: -10px;
    top: 3px;
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid #506dd4;
    border-radius: 50%;
    background: #1a2022;
}

.education-list-item-dept-name {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin-bottom: 15px;
}

.education-list-item-name {
    text-transform: uppercase;
    font-size: 15px;
    color: #506dd4;
    margin-bottom: 10px;
}

.education-list-item-exp-date {
    display: block;
    color: #000;
    margin-bottom: 10px;
}

.education-list-item-cgpa {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #3c3c3c;
}
/* About section css End */

/* Portfolio section css start */
.portfolio-section {
    padding: 60px 0;
}

.portfolio-section .section-title-outer {
    text-align: start;
    margin-bottom: 40px;
}

.portfolio-section .section-title-outer .section-title::after {
    display: none;
}

.portfolio-item-outer {
    margin-top: 50px;
    position: relative;
}

.portfolio-item-image-outer {
    display: block;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    outline: medium none;
    text-decoration: none;
    font-weight: 500;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.portfolio-item-image-outer:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 40%;
    width: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 150%) repeat scroll 0 0;
}

.portfolio-item-image {
    transition: all 0.35s ease-in-out;
    width: 100%;
}

.portfolio-item-image-outer:hover .portfolio-item-image {
    transform: scale(1.2);
}

.portfolio-item-info-outer {
    position: absolute;
    right: 50px;
    bottom: 30px;
    text-align: right;
    z-index: 1;
}

.portfolio-item-info-category {
    display: inline-block;
    background: #506dd4;
    color: white;
    padding: 3px 20px;
    margin-bottom: 15px;
}

.portfolio-item-info-name {
    display: block;
    border-top: 2px solid #fff;
    margin-top: 15px;
    padding-top: 15px;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.portfolio-section .item-center:nth-child(2n) {
    margin-top: 50px;
}

.portfolio-section .item-center {
    padding-right: 80px;
}
/* Portfolio section css End */

/* Testimonial section css start */
.testimonial-section {
    padding: 60px 0;
}

.testimonial-wrapper {
    position: relative;
    z-index: 1;
    padding: 80px;
}

.testimonial-wrapper:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #506dd4;
    opacity: 0.1;
}

.testimonial-items-wrapper {
}

.testimonial-item-outer {
    text-align: center;
}

.testimonial-item-image-outer {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-bottom: 30px;
    padding: 15px;
}

.testimonial-item-image {
    height: 230px;
    width: 230px;
    clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
}

.testimonial-item-image-outer:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    height: 100%;
    width: 100%;
    background: url(../images/6.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

.testimonial-item-image-outer:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    height: 100%;
    width: 100%;
    background: url(../images/5.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

.testimonial-item-content,.testimonial-item-content * {
    font-size: 16px;
    line-height: 1.8;
    color: #cccccc;
    font-weight: 500;
}

.testimonial-item-author-outer {
    margin-top: 30px;
}

.testimonial-item-rating {
    color: #ffaa17;
    display: block;
    margin-bottom: 15px;
}

.testimonial-item-author-name {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 8px;
}

.testimonial-item-author-position {
    font-size: 16px;
    font-weight: 400;
    color: #ccc;
}
/* Testimonial section css End */

/* Client section css start */
.client-section {
    padding: 60px 0;
}

.client-section-outer {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}

.client-sec-title {
    background: #1a2022;
    display: inline-block;
    width: auto;
    margin: 0 auto;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: 500;
    color: #fff;
    font-size: 22px;
}

.client-sec-title strong {
    color: #506dd4;
    margin: 0 5px;
    font-weight: 600;
}

.client-sec-title:after {
    position: absolute;
    left: 0;
    top: 50%;
    content: "";
    height: 1px;
    width: 100%;
    background: linear-gradient(to right,rgba(255, 255, 255, 0),#ffffff,rgba(255, 255, 255, 0));
    z-index: -1;
}

.client-item-outer {
    text-align: center;
}

.client-item-image {
    max-width: 150px;
    margin: auto;
}
/* Client section css End */

/* Blog section css start */
.blog-section {
    padding: 60px 0;
}

.blog-item-wrap {
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.blog-item-wrap:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    height: 100%;
    width: 100%;
    background: #506dd4;
    z-index: -1;
    border-radius: 10px;
    opacity: 0.1;
}

.blog-item-image-outer {
    position: relative;
    display: block;
}

.blog-item-date {
    position: absolute;
    right: 30px;
    bottom: 30px;
    background: #1a2022;
    color: #fff;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding-right: 15px;
    overflow: hidden;
    border-radius: 6px;
    z-index: 1;
}

.blog-item-date strong {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    background: #506dd4;
    margin-right: 15px;
    font-size: 25px;
    font-weight: 600;
    color: #000;
}

.blog-item-info-outer {
    padding: 40px 30px;
}

.blog-item-info-title {
    display: inline-block;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
}

.blog-item-info-meta span {
    font-size: 14px;
    font-weight: 400;
    color: #cccccc;
}

.blog-item-info-meta span:first-child {
    text-transform: capitalize;
    border-right: 1px solid;
    margin-right: 5px;
    padding-right: 5px;
}
/* Blog section css End */

/* Contact section css start */
.contact-section {
    padding: 60px 0;
    background-image: url(assets/images/map-light.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.contact-info-title {
    text-transform: capitalize;
    color: #fff;
    font-weight: 600;
    background: linear-gradient(90deg,#506dd4 20%, #eed80b 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 60px;
    margin-bottom: 25px;
}

.contact-info-call {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contact-info-call-img {
    max-width: 40px;
    margin-right: 10px;
}

.contact-info-phone-link {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.contact-address {
    padding-left: 0;
    margin-bottom: 25px;
}

.contact-address .info {
    margin-bottom: 30px;
}

.contact-address .info h4 {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
}

.contact-address .info p,.contact-address .info a {
    font-size: 14px;
    font-weight: 400;
    color: #cccccc;
    margin-bottom: 0;
}

.contact-info-outer {
    margin-bottom: 30px;
}

.contact-info-outer .copyright {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
}

.contact-item-outer {
    margin-bottom: 20px;
}

.contact-item-outer label {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 5px;
}

.contact-item-outer input {
    height: 50px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.contact-item-outer textarea {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.contact-item-outer input:focus,.contact-item-outer textarea:focus {
    box-shadow: none;
    background: transparent;
    color: #fff;
}

.contact-item-outer input::placeholder,.contact-item-outer textarea::placeholder{
    color: #fff;
}

.contact-form-btn-outer {
    border: none;
    background: #506dd4;
    color: #fff;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
}
/* Contact section css End */